---
layout:
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.sitemaps.org/schemas/sitemap/0.9 https://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="https://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="https://www.w3.org/1999/xhtml">

<url>
  <loc>{{ 'https://www.matteomancanelli.com/' }}</loc>
  <xhtml:link rel="alternate" hreflang="it" href="https://www.matteomancanelli.com/it" />
</url>

{% assign pages = site.pages | where_exp: "item", "item.url contains '/en'" %}
{% for page in pages %}
  {% if page.title %}
  <url>
    <loc>{{ 'https://www.matteomancanelli.com' | append: page.url }}</loc>
    {% assign target_lang = 'it' %}
    {% if page.url == '/' %}
      {% assign link = '/' | append: target_lang %} 
    {% else %} 
      {% assign url_list = page.url | split: "/" %}
      {% assign link = page.url | replace_first: page.lang, target_lang | replace_first: url_list[-1], page.translation[0][target_lang] %}  
    {% endif %}
    <xhtml:link rel="alternate" hreflang="{{ target_lang }}" href="{{ 'https://www.matteomancanelli.com' | append: link }}" />
  </url>
  {% endif %}
{% endfor %}

</urlset>