---
layout: custom-single
classes: wide
---

{{ content }}

{% assign teachingByYear = site.teaching | where_exp: "item", "item.hidden != true" | group_by_exp: 'item', 'item.year' | sort: "year", "last" %}
{% for year in teachingByYear %}
<h2>{{ year.name }}</h2>
{% for elem in year.items %}
<div class="teachingitem">
  <div class="teachingname"><strong>{{ site.data.custom-ui-text[page.lang][elem.name] }}</strong></div>
  <div class="teachinginfo">{% if elem.role %}{{ elem.role | capitalize }}{% endif %} - {{ elem.cfu }} CFU - 
                            {{ site.data.custom-ui-text[page.lang].taught }} {{ site.data.custom-ui-text[page.lang][elem.lang] | downcase }}
  </div>
  <div class="teachingdegree">{% if elem.degree_level %}{{ site.data.custom-ui-text[page.lang][elem.degree_level] }} in {% endif %}
                              {{ site.data.custom-ui-text[page.lang][elem.degree_name] }} - 
                              {{ site.data.custom-ui-text[page.lang].uni }} {{ elem.university }}
  </div>
  <div class="teachinglinks">
    {% if elem.website %}
      [<a href="{{ elem.website }}" target="_blank" rel="noopener noreferrer">website</a>]
    {% endif %}
    {% if elem.code %}
      [<a href="{{ elem.code }}" target="_blank" rel="noopener noreferrer">code</a>]
    {% endif %}
  </div>
</div>
{% endfor %}
{% endfor %}